.card{
flex:1 0 16rem;
margin:0.625rem;
border:2px solid #FFFFFF;
overflow: hidden;
}
.card-image{
display:block;
height:21.875rem;
background-size:cover;
box-shadow:0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
transition:transform 500ms ease-in;
filter:grayscale(100%);
}
.card-image:hover{
transform:scale(1.10);
filter:grayscale(0%);
}